<rl-details>
  <% if item.group_experiences&.any? %>
    <p class="rl-groups">
      <strong>GROUPS: </strong>
      <%= item.group_experiences.join(", ") %>
    </p>
  <% end %>
  <% if item.blurb %>
    <p class="rl-blurb">
      <strong>BLURB: </strong>
      <%=raw Rinku.auto_link(item.blurb) %>
    </p>
  <% end %>
  <% if item.public_notes&.any? %>
    <rl-notes>
      <strong>NOTES: </strong>
      <% item.public_notes.each do |note| %>
        <p><%=raw Rinku.auto_link(note) %></p>
      <% end %>
    </rl-notes>
  <% end %>
</rl-details>