<footer>
  <div class="container">
    <ul>
      <li><small>Made by <a href="https://fpsvogel.com/" class="secondary">Felipe Vogel</a></small></li>
      <li><small>Code licensed <a href="https://github.com/picocss/pico/blob/master/LICENSE.md" class="secondary">MIT</a></small></li>
      <li><small>Powered by <a href="https://rubyonrails.org/" class="secondary">Ruby on Rails</a>, <a href="https://picocss.com/" class="secondary">Pico.css</a>, and <a href="https://shoelace.style/" class="secondary">Shoelace</a>.</small></li>
    </ul>
  </div>
</footer>
